.maincontainer {
    justify-content: center;
}

.button_color{
    background-color: #D9E2FC;


}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #8064A2 !important;
}
